<?xml version="1.0" encoding="UTF-8"?>
<extension type="plugin" version="3.9" group="content" method="upgrade">
    <name>Workshop - Content Plugin</name>
    <version>1.0.0</version>
    <creationDate>April 5th</creationDate>
    <author>Pearl</author>
    <authoremail>pearlpriyanka15@gmail.com</authoremail>
    <description>Wrapper plugin for the content plugin group.</description>
    <files>
        <filename plugin="workshop">plugin.php</filename>
    </files>
    <languages folder="language">
        <language tag="en-GB">en-GB/en-GB.plg_content_workshop.ini</language>
        <language tag="en-GB">en-GB/en-GB.plg_content_workshop.sys.ini</language>
    </languages>
    <config>
    <fields name="params">
			<fieldset name="basic">
				<field name="promoText" type="textarea" default="" label="Enter Promo text" description="" rows="10" cols="5" filter="raw" />
			</fieldset>
		</fields>

    </config>
</extension>
